!!!
%html(lang="en" data-framework="hyalite")
  %head
    %link{rel:"stylesheet", href:"assets/css/application.css"}
  %body
    .content
      %h1 タートルグラフィックスに挑戦！！！
      .info
        %p 投稿することが可能になりました。是非作品を投稿してくださいね！
      %ul.links
        %li
          %a{href: "/list"} 投稿一覧を見る
        %li
          %a{href: "/public-list"} みんなの投稿を見る
      .turtle-graphics


    = ::Opal::Sprockets.javascript_include_tag('application', sprockets: settings.opal.sprockets, prefix: 'assets', debug: true)

