!!!
%html(lang="en" data-framework="hyalite")
  %head
    %link{rel:"stylesheet", href:"assets/css/login.css"}
  %body
    %section.hero.is-fullheight
      .hero-body
        .container
          .box
            .info
              %p 投稿サイトを作る予定でしたが、作者都合（RubyKaigiの発表資料がまだ出来てないんです！！！）によりまだ完成しておりません。
              %p 大変申しわけありませんが、GW中くらいには投稿できるようにしたいと思いますのでいましばらく、投稿するプログラムを考えながらお待ちください。
            .content

    = ::Opal::Sprockets.javascript_include_tag('login', sprockets: settings.opal.sprockets, prefix: 'assets', debug: true)
