!!!
%html(lang="en" data-framework="hyalite")
  %head
  %body
    %section.hero.is-fullheight
      .hero-body
        .container
          .box
            .info
              %p 投稿機能が使えるようになりました！
              %P アカウント登録してご利用ください。
            .content

    = owl_script_tag('login.js')
