!!!
%html(lang="en" data-framework="hyalite")
  %head
    %link{rel:"stylesheet", href:"/assets/css/signup.css"}
  %body
    %section.hero.is-fullheight
      .hero-body
        .container
          .box
            .content

    = owl_script_tag('set_password.js')

