!!!
%html(lang="en" data-framework="hyalite")
  %head
  %body
    %section.hero.is-fullheight
      .hero-body
        .container
          .box
            .content

    = owl_script_tag('set_password.js')

