@import 'fontawesome';

body {
  background-color: #f0f4f8;
}

.content {
  margin: 0 auto;
  width: 824px;
}

.wrap-canvas {
  display: inline-block;
  float: left;

  canvas {
    width: 400px;
    height: 400px;
  }
}

.wrap-code-text {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin-left: 24px;

  textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

.exec-button {
  text-align: right;
  width: 100%;

  button {
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 0 10px;
    color: #fff;
    background-color: #d96943;
    border-radius: 5px;
  }
}

.post-button {
  margin-top: 3rem;
  text-align: center;
  width: 100%;

  button {
    width: 320px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 0 10px;
    color: #fff;
    background-color: #49a9d4;
    border-radius: 5px;
  }
}

.setting {
  float: left;
}

.info {
  background-color: #fffff0;
  border: #c0c0c0 solid 1px;
  padding: 4px 1em;
  border-radius: 5px;
  margin-bottom: 2em;
}

.post-info {
  display: flex;
  margin-bottom: 1rem;

  .thumbnail {
    float: left;
  }

  .info-box {
    margin-left: 2rem;
    float: left;
    border: solid 1px #aaaaaa;
    border-radius: 4px;
    padding: 0.5rem;
    flex-grow: 1;

    p {
      margin: 0.2rem 0;
    }

    .label {
      font-weight: bold;
      margin-right: 1rem;
    }

    .delete-button {
      text-align: right;
      float: right;

      button {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
        color: #0000ff;
        border: none;
      }
    }

    .publish-button {
      text-align: right;
      width: 100%;

      button {
        width: 100px;
        font-size: 12px;
        //font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 4px 0 5px;
        color: #fff;
        background-color: #5ab372;
        border-radius: 5px;
      }
    }

    .private-button {
      text-align: right;
      width: 100%;

      button {
        width: 100px;
        font-size: 12px;
        //font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 4px 0 5px;
        color: #fff;
        background-color: #cccccc;
        border-radius: 5px;
      }
    }
  }
}

ul {
  list-style: none;
  padding-left: 1em;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  input[type=text] {
    padding: 10px;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color: #aaa;
    border: solid 1px #ccc;
    margin: 0 20px;
    width: 300px;
  }

  .ok-button {
    text-align: right;
    width: 100%;

    button {
      width: 100px;
      font-size: 14px;
      //font-weight: bold;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      padding: 6px 0 8px;
      color: #fff;
      background-color: #5ab372;
      border-radius: 5px;
    }
  }
}

.hidden {
  display: none;
}
